html {
  overflow-x:hidden;
  height:100%;
  position:relative;
}

body {
  height:100%;
  position:relative;
  font-family: 'Nunito Sans', sans-serif;
  font-size:16px;
  background-color:#f2f2f2;
}

a {
    color:#999;
    &:hover {
      color:#666;
    }
}
p {
  line-height:150%;
  color:#666;
}
 #wrapper #main #quotes .content-inner .one{
        width: 30%;
    float: left;
    margin-right: 2em;
    border-style: solid;
    border-width: thick;
    border-color: #444444;
    overflow: hidden;
    height: 270px;
  }
  #wrapper #main #quotes .content-inner .one h1{
        font-size: 1em;
    color: #444444;
    margin: 15px 0px;
  }
    #wrapper #main #quotes .content-inner .one p{
      font-family:  'Lato', sans-serif;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    text-align: justify;
    padding: 10px 20px;
  }
    #wrapper #main #quotes .content-inner .one button{
          color: #fff;
    background-color: #444444;
    border: none;
    }
            #wrapper #main #quotes .content-inner .one a{
          color: #fff;
        }
        #wrapper #main #quotes .content-inner .two{
        width: 30%;
    float: left;
    margin-right: 2em;
    border-style: solid;
    border-width: thick;
    border-color: #444444;
    overflow: hidden;
    height: 270px;
  }
  #wrapper #main #quotes .content-inner .two h1{
        font-size: 1em;
    color: #444444;
    margin: 15px 0px;
  }
    #wrapper #main #quotes .content-inner .two p{
      font-family:  'Lato', sans-serif;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    text-align: justify;
    padding: 10px 20px;
  }
    #wrapper #main #quotes .content-inner .two button{
          color: #fff;
    background-color: #444444;
    border: none;
    }
        #wrapper #main #quotes .content-inner .two a{
          color: #fff;
        }
        #wrapper #main #quotes .content-inner .three{
        width: 30%;
    float: left;
    border-style: solid;
    border-width: thick;
    border-color: #444444;
    overflow: hidden;
    height: 270px;
  }
  #wrapper #main #quotes .content-inner .three h1{
        font-size: 1em;
    color: #444444;
    margin: 15px 0px;
  }
  #wrapper #main #quotes .content-inner .three p{
      font-family:  'Lato', sans-serif;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    text-align: justify;
    padding: 10px 20px;
  }
    #wrapper #main #quotes .content-inner .three button{
          color: #fff;
    background-color: #444444;
    border: none;
    }
            #wrapper #main #quotes .content-inner .three a{
          color: #fff;
        }
.page {
  background-color:#1D1D1D;
}
#wrapper {
  background-color:#fff;
}

.bar-title {
    width:0.9em;
    position:relative;
    height:0.5em;
    margin:0 auto;
    &:before {
        position:absolute;
        content:'';
        height:2.5px;
        background-color:#000;
        right:-2.2em;
        width:600%;        
    }
}
/*HELPERS*/
.center-parent {
  float:left;
  text-align: center;
  position:relative;
  height:100%;
  .center-child {
	display: inline-block;
	vertical-align: middle;	
  }
}
.center-parent:before {
  position:relative;
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.link-desc {
  display:none !important;
}

.pd10 {
  padding:0.3em;
  box-sizing:border-box;
}
.pd20 {
  padding:0.5em;
  box-sizing:border-box;
}
.pd30 {
  padding:2.7em;
  box-sizing:border-box;
}
.pd40 {
  padding:0.9em;
  box-sizing:border-box;
}

.pd10s {
  padding:0 0.3em;
  box-sizing:border-box;
}
.pd20s {
  padding:0 0.5em;
  box-sizing:border-box;
}
.pd30s {
  padding:0 0.7em;
  box-sizing:border-box;
}
.pd40s {
  padding:0 0.9em;
  box-sizing:border-box;
}

.pd10u {
  padding:0.3em 0;
  box-sizing:border-box;
}
.pd20u {
  padding:0.5em 0;
  box-sizing:border-box;
}
.pd30u {
  padding:0.7em 0;
  box-sizing:border-box;
}
.pd40u {
  padding:0.9em 0;
  box-sizing:border-box;
}

.alignleft {
  float: left;
  padding: 0 1em 1em 0;
}

.alignright {
  float: left;
  padding: 0 0 1em 1em;
}