/*CONTACT*/

.contact {
	.contact-title {
		width:100%;
		float:left;
		text-align:center;
		background-color:#000;
		position:relative;
		z-index:1;
	}	
	.contact-breadcrumb {
		position:absolute;
		right:30px;
	}
	#map-canvas {
	    width: 100%;
	    height: 300px;
	}	
	.mail-info {
		border-left:1px solid #ddd;
		padding-left:1em;
	}
}
#contact {
	.col-6-left {
		display:grid;
		width:50%;
		float:left;
	}
	.col-6-right {
	float:left;
	width:50%;
	}}
	@media screen and (max-width:640px){
    .col-6-right{
      clear: both;
      left:50%;
      transform: translateX(50%);
    }
  }
 @media screen and (max-width:640px){
    .col-6-left{
      left:50%;
      transform: translateX(50%);
    }
  }
    @media screen and (min-width:568px){
      .about .wpcf7 .pure-button, .about .wpcf7 .wpcf7-submit {
position: absolute;
    z-index: 1;
    left: 50%;
    transform: translateX(-50%);
    clear: both;
    font-family: 'Nunito Sans', sans-serif;
    background-color: #fff;
    float: right;
    margin: 0.8em 1.5% 0.8em 0.5em !important;
    outline: 0;
    border-radius: 0;
    border: solid 0.5px #444444;
    color: #444444;
    padding: 0.4em 0.6em;
    display: block;
    font-size: 1.2em;
    font-weight: 300;
    width: 185px;
    display: inline-block;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    transition: all 0.3s linear; }
    }
    