#commentform {
    p {
        float:left;
        width:100%;
    }
}

#commentform {
    .form-submit {
        float:left;
        width:100%;
        input {
            float:left !important;
        }
        #submit {
            font-size:1em !important;
        }
    }
    label {
        float:left;
        width:100% !important;
        padding:10px 0 !important;
    }
}

#commentform input [type=color] {
padding:.2em .5em;
}

#commentform input[type=file]:focus,#commentform input[type=radio]:focus,#commentform input[type=checkbox]:focus {
outline:1px auto #129FEA;
}

#commentform .pure-checkbox,#commentform .pure-radio {
display:block;
margin:.5em 0;
}

#commentform input[readonly],#commentform select[readonly],#commentform textarea[readonly] {
background:#eee;
color:#777;
border-color:#ccc;
}

#commentform input:focus:invalid,#commentform textarea:focus:invalid,#commentform select:focus:invalid {
color:#b94a48;
border-color:#ee5f5b;
}

#commentform input:focus:invalid:focus,#commentform textarea:focus:invalid:focus,#commentform select:focus:invalid:focus {
border-color:#e9322d;
}

#commentform input[type=file]:focus:invalid:focus,#commentform input[type=radio]:focus:invalid:focus,#commentform input[type=checkbox]:focus:invalid:focus {
outline-color:#e9322d;
}

#commentform select {
border:1px solid #ccc;
background-color:#fff;
}

#commentform select[multiple] {
height:auto;
}

#commentform label {
text-align: right;
display: inline-block;
vertical-align: middle;
width: 10em;
margin: 0 1em 0 0;
}

#commentform fieldset {
border:0;
margin:0;
padding:.35em 0 .75em;
}

#commentform legend {
display:block;
width:100%;
margin-bottom:.3em;
color:#333;
border-bottom:1px solid #e5e5e5;
padding:.3em 0;
}

p[class^="comment-"] {
margin-bottom:20px;
}

.pure-form-aligned input,.pure-form-aligned textarea,.pure-form-aligned select,.pure-form-aligned .pure-help-inline,.pure-form-message-inline {
display:inline;
zoom:1;
vertical-align:middle;
}

.pure-form-aligned textarea {
vertical-align:top;
}

.pure-form-aligned .pure-control-group {
margin-bottom:.5em;
}

.pure-form-aligned .pure-control-group label {
text-align:right;
display:inline-block;
vertical-align:middle;
width:10em;
margin:0 1em 0 0;
}

.pure-form-aligned .pure-controls {
margin:1.5em 0 0 10em;
}

#commentform input.pure-input-rounded,#commentform .pure-input-rounded {
border-radius:2em;
padding:.5em 1em;
}

#commentform .pure-group fieldset {
margin-bottom:10px;
}

#commentform .pure-group input {
display:block;
border-radius:0;
position:relative;
top:-1px;
margin:0;
padding:10px;
}

#commentform .pure-group input:focus {
z-index:2;
}

#commentform .pure-group input:first-child {
top:1px;
border-radius:4px 4px 0 0;
}

#commentform .pure-group input:last-child {
top:-2px;
border-radius:0 0 4px 4px;
}

#commentform .pure-group button {
margin:.35em 0;
}

#commentform .pure-input-1 {
width:100%;
}

#commentform .pure-input-2-3 {
width:66%;
}

#commentform .pure-input-1-2 {
width:50%;
}

#commentform .pure-input-1-3 {
width:33%;
}

#commentform .pure-input-1-4 {
width:25%;
}

#commentform .pure-help-inline,.pure-form-message-inline {
display:inline-block;
padding-left:.3em;
color:#666;
vertical-align:middle;
font-size:.875em;
}

.pure-form-message {
display:block;
color:#666;
font-size:.875em;
}

#commentform input[type=text],#commentform input[type=password],#commentform input[type=email],#commentform input[type=url],#commentform input[type=date],#commentform input[type=month],#commentform input[type=time],#commentform input[type=datetime],#commentform input[type=datetime-local],#commentform input[type=week],#commentform input[type=number],#commentform input[type=search],#commentform input[type=tel],#commentform input[type=color],#commentform select,#commentform textarea,#commentform input:not([type]) {
display:inline-block;
border:1px solid #ccc;
box-shadow:inset 0 1px 3px #ddd;
border-radius:4px;
-webkit-box-sizing:border-box;
-moz-box-sizing:border-box;
box-sizing:border-box;
padding:.5em .6em;
}

#commentform input[type=text]:focus,#commentform input[type=password]:focus,#commentform input[type=email]:focus,#commentform input[type=url]:focus,#commentform input[type=date]:focus,#commentform input[type=month]:focus,#commentform input[type=time]:focus,#commentform input[type=datetime]:focus,#commentform input[type=datetime-local]:focus,#commentform input[type=week]:focus,#commentform input[type=number]:focus,#commentform input[type=search]:focus,#commentform input[type=tel]:focus,#commentform input[type=color]:focus,#commentform select:focus,#commentform textarea:focus,#commentform input:not([type]):focus {
outline:thin dotted \9;
border-color:#129FEA;
}

#commentform input[type=text][disabled],#commentform input[type=password][disabled],#commentform input[type=email][disabled],#commentform input[type=url][disabled],#commentform input[type=date][disabled],#commentform input[type=month][disabled],#commentform input[type=time][disabled],#commentform input[type=datetime][disabled],#commentform input[type=datetime-local][disabled],#commentform input[type=week][disabled],#commentform input[type=number][disabled],#commentform input[type=search][disabled],#commentform input[type=tel][disabled],#commentform input[type=color][disabled],#commentform select[disabled],#commentform textarea[disabled],#commentform input:not([type])[disabled] {
cursor:not-allowed;
background-color:#eaeded;
color:#cad2d3;
}

.pure-form-stacked input[type=text],.pure-form-stacked input[type=password],.pure-form-stacked input[type=email],.pure-form-stacked input[type=url],.pure-form-stacked input[type=date],.pure-form-stacked input[type=month],.pure-form-stacked input[type=time],.pure-form-stacked input[type=datetime],.pure-form-stacked input[type=datetime-local],.pure-form-stacked input[type=week],.pure-form-stacked input[type=number],.pure-form-stacked input[type=search],.pure-form-stacked input[type=tel],.pure-form-stacked input[type=color],.pure-form-stacked select,.pure-form-stacked label,.pure-form-stacked textarea,.pure-form-stacked input:not([type]) {
display:block;
margin:.25em 0;
}
@media only screen and ( max-width: 30em){
#commentform button[type=submit] {
margin:.7em 0 0;
}

#commentform input:not([type]),#commentform input[type=text],#commentform input[type=password],#commentform input[type=email],#commentform input[type=url],#commentform input[type=date],#commentform input[type=month],#commentform input[type=time],#commentform input[type=datetime],#commentform input[type=datetime-local],#commentform input[type=week],#commentform input[type=number],#commentform input[type=search],#commentform input[type=tel],#commentform input[type=color],#commentform label {
margin-bottom:.3em;
display:block;
}

.pure-group input:not([type]),.pure-group input[type=text],.pure-group input[type=password],.pure-group input[type=email],.pure-group input[type=url],.pure-group input[type=date],.pure-group input[type=month],.pure-group input[type=time],.pure-group input[type=datetime],.pure-group input[type=datetime-local],.pure-group input[type=week],.pure-group input[type=number],.pure-group input[type=search],.pure-group input[type=tel],.pure-group input[type=color] {
margin-bottom:0;
}

.pure-form-aligned .pure-control-group label {
margin-bottom:.3em;
text-align:left;
display:block;
width:100%;
}

.pure-form-aligned .pure-controls {
margin:1.5em 0 0;
}

#commentform .pure-help-inline,.pure-form-message-inline,.pure-form-message {
display:block;
font-size:.75em;
padding:.2em 0 .8em;
}
}

.wpcf7-form {
    float:left;
    width:100%;
}

.wpcf7-form input [type=color] {
padding:.2em .5em;
}

.wpcf7-form p {
	margin-bottom: 20px;
	float:left;
	width:100%;
}

.wpcf7-form span {
	margin-top:10px;
	float:left;
}

.wpcf7-form input[type=file]:focus,.wpcf7-form input[type=radio]:focus,.wpcf7-form input[type=checkbox]:focus {
outline:1px auto #129FEA;
}

.wpcf7-form .pure-checkbox,.wpcf7-form .pure-radio {
display:block;
margin:.5em 0;
}

.wpcf7-form input[readonly],.wpcf7-form select[readonly],.wpcf7-form textarea[readonly] {
background:#eee;
color:#777;
border-color:#ccc;
}

.wpcf7-form input:focus:invalid,.wpcf7-form textarea:focus:invalid,.wpcf7-form select:focus:invalid {
color:#b94a48;
border-color:#ee5f5b;
}

.wpcf7-form input:focus:invalid:focus,.wpcf7-form textarea:focus:invalid:focus,.wpcf7-form select:focus:invalid:focus {
border-color:#e9322d;
}

.wpcf7-form input[type=file]:focus:invalid:focus,.wpcf7-form input[type=radio]:focus:invalid:focus,.wpcf7-form input[type=checkbox]:focus:invalid:focus {
outline-color:#e9322d;
}

.wpcf7-form select {
border:1px solid #ccc;
background-color:#fff;
}

.wpcf7-form select[multiple] {
height:auto;
}

.wpcf7-form label {
text-align: right;
display: inline-block;
vertical-align: middle;
width: 10em;
margin: 0 1em 0 0;
}

.wpcf7-form fieldset {
border:0;
margin:0;
padding:.35em 0 .75em;
}

.wpcf7-form legend {
display:block;
width:100%;
margin-bottom:.3em;
color:#333;
border-bottom:1px solid #e5e5e5;
padding:.3em 0;
}

.wpcf7 {
    .wpcf7-submit {
        margin:1em 0 2em 0 !important;
    }
}

p[class^="comment-"] {
margin-bottom:20px;
}

.pure-form-aligned input,.pure-form-aligned textarea,.pure-form-aligned select,.pure-form-aligned .pure-help-inline,.pure-form-message-inline {
display:inline;
zoom:1;
vertical-align:middle;
}

.pure-form-aligned textarea {
vertical-align:top;
}

.pure-form-aligned .pure-control-group {
margin-bottom:.5em;
}

.pure-form-aligned .pure-control-group label {
text-align:right;
display:inline-block;
vertical-align:middle;
width:10em;
margin:0 1em 0 0;
}

.pure-form-aligned .pure-controls {
margin:1.5em 0 0 10em;
}

.wpcf7-form input.pure-input-rounded,.wpcf7-form .pure-input-rounded {
border-radius:2em;
padding:.5em 1em;
}

.wpcf7-form .pure-group fieldset {
margin-bottom:10px;
}

.wpcf7-form .pure-group input {
display:block;
border-radius:0;
position:relative;
top:-1px;
margin:0;
padding:10px;
}

.wpcf7-form .pure-group input:focus {
z-index:2;
}

.wpcf7-form .pure-group input:first-child {
top:1px;
border-radius:4px 4px 0 0;
}

.wpcf7-form .pure-group input:last-child {
top:-2px;
border-radius:0 0 4px 4px;
}

.wpcf7-form .pure-group button {
margin:.35em 0;
}

.wpcf7-form .pure-input-1 {
width:100%;
}

.wpcf7-form .pure-input-2-3 {
width:66%;
}

.wpcf7-form .pure-input-1-2 {
width:50%;
}

.wpcf7-form .pure-input-1-3 {
width:33%;
}

.wpcf7-form .pure-input-1-4 {
width:25%;
}

.wpcf7-form .pure-help-inline,.pure-form-message-inline {
display:inline-block;
padding-left:.3em;
color:#666;
vertical-align:middle;
font-size:.875em;
}

.pure-form-message {
display:block;
color:#666;
font-size:.875em;
}

.wpcf7-form input[type=text],.wpcf7-form input[type=password],.wpcf7-form input[type=email],.wpcf7-form input[type=url],.wpcf7-form input[type=date],.wpcf7-form input[type=month],.wpcf7-form input[type=time],.wpcf7-form input[type=datetime],.wpcf7-form input[type=datetime-local],.wpcf7-form input[type=week],.wpcf7-form input[type=number],.wpcf7-form input[type=search],.wpcf7-form input[type=tel],.wpcf7-form input[type=color],.wpcf7-form select,.wpcf7-form textarea,.wpcf7-form input:not([type]) {
display:inline-block;
border:1px solid #ccc;
box-shadow:inset 0 1px 3px #ddd;
border-radius:4px;
-webkit-box-sizing:border-box;
-moz-box-sizing:border-box;
box-sizing:border-box;
padding:.5em .6em;
}

.wpcf7-form input[type=text]:focus,.wpcf7-form input[type=password]:focus,.wpcf7-form input[type=email]:focus,.wpcf7-form input[type=url]:focus,.wpcf7-form input[type=date]:focus,.wpcf7-form input[type=month]:focus,.wpcf7-form input[type=time]:focus,.wpcf7-form input[type=datetime]:focus,.wpcf7-form input[type=datetime-local]:focus,.wpcf7-form input[type=week]:focus,.wpcf7-form input[type=number]:focus,.wpcf7-form input[type=search]:focus,.wpcf7-form input[type=tel]:focus,.wpcf7-form input[type=color]:focus,.wpcf7-form select:focus,.wpcf7-form textarea:focus,.wpcf7-form input:not([type]):focus {
outline:thin dotted \9;
border-color: #000;
}

.wpcf7-form input[type=text][disabled],.wpcf7-form input[type=password][disabled],.wpcf7-form input[type=email][disabled],.wpcf7-form input[type=url][disabled],.wpcf7-form input[type=date][disabled],.wpcf7-form input[type=month][disabled],.wpcf7-form input[type=time][disabled],.wpcf7-form input[type=datetime][disabled],.wpcf7-form input[type=datetime-local][disabled],.wpcf7-form input[type=week][disabled],.wpcf7-form input[type=number][disabled],.wpcf7-form input[type=search][disabled],.wpcf7-form input[type=tel][disabled],.wpcf7-form input[type=color][disabled],.wpcf7-form select[disabled],.wpcf7-form textarea[disabled],.wpcf7-form input:not([type])[disabled] {
cursor:not-allowed;
background-color:#eaeded;
color:#cad2d3;
}

.pure-form-stacked input[type=text],.pure-form-stacked input[type=password],.pure-form-stacked input[type=email],.pure-form-stacked input[type=url],.pure-form-stacked input[type=date],.pure-form-stacked input[type=month],.pure-form-stacked input[type=time],.pure-form-stacked input[type=datetime],.pure-form-stacked input[type=datetime-local],.pure-form-stacked input[type=week],.pure-form-stacked input[type=number],.pure-form-stacked input[type=search],.pure-form-stacked input[type=tel],.pure-form-stacked input[type=color],.pure-form-stacked select,.pure-form-stacked label,.pure-form-stacked textarea,.pure-form-stacked input:not([type]) {
display:block;
margin:.25em 0;
}

@media only screen and (max-width: 30em){
.wpcf7-form button[type=submit] {
margin:.7em 0 0;
}

.wpcf7-form input:not([type]),.wpcf7-form input[type=text],.wpcf7-form input[type=password],.wpcf7-form input[type=email],.wpcf7-form input[type=url],.wpcf7-form input[type=date],.wpcf7-form input[type=month],.wpcf7-form input[type=time],.wpcf7-form input[type=datetime],.wpcf7-form input[type=datetime-local],.wpcf7-form input[type=week],.wpcf7-form input[type=number],.wpcf7-form input[type=search],.wpcf7-form input[type=tel],.wpcf7-form input[type=color],.wpcf7-form label {
margin-bottom:.3em;
display:block;
}

.pure-group input:not([type]),.pure-group input[type=text],.pure-group input[type=password],.pure-group input[type=email],.pure-group input[type=url],.pure-group input[type=date],.pure-group input[type=month],.pure-group input[type=time],.pure-group input[type=datetime],.pure-group input[type=datetime-local],.pure-group input[type=week],.pure-group input[type=number],.pure-group input[type=search],.pure-group input[type=tel],.pure-group input[type=color] {
margin-bottom:0;
}

.pure-form-aligned .pure-control-group label {
margin-bottom:.3em;
text-align:left;
display:block;
width:100%;
}

.pure-form-aligned .pure-controls {
margin:1.5em 0 0;
}

.wpcf7-form .pure-help-inline,.pure-form-message-inline,.pure-form-message {
display:block;
font-size:.75em;
padding:.2em 0 .8em;
}
}

@media only screen and (max-width: 40em){
    .wpcf7 .pure-u-sm-8-24 {
        margin-bottom:30px;
        input { width:100% !important; }
    }
    .wpcf7 .pure-u-sm-24-24 {
        textarea { width:100% !important; }
    }    
}
