/*SLIDER*/
#preloader {
    position:fixed;
    width:100%;
    height:100%;
    z-index:9999;
    background-color:rgba(0,0,0,0.2);
    text-align: center;
    .sk-spinner-wave.sk-spinner {
        margin: 0 auto;
        width: 50px;
        height: 30px;
        text-align: center;
        font-size: 10px; 
        display: inline-block;
        vertical-align: middle;
        width: 300px;
    }
    .sk-spinner-wave div {
        background-color:rgba(255,255,255,0.4);
        height: 100%;
        width: 6px;
        display: inline-block;
        -webkit-animation: sk-waveStretchDelay 1.2s infinite ease-in-out;
        animation: sk-waveStretchDelay 1.2s infinite ease-in-out; }
    .sk-spinner-wave .sk-rect2 {
        -webkit-animation-delay: -1.1s;
        animation-delay: -1.1s; }
    .sk-spinner-wave .sk-rect3 {
        -webkit-animation-delay: -1s;
        animation-delay: -1s; }
    .sk-spinner-wave .sk-rect4 {
        -webkit-animation-delay: -0.9s;
        animation-delay: -0.9s; }
    .sk-spinner-wave .sk-rect5 {
        -webkit-animation-delay: -0.8s;
        animation-delay: -0.8s; }

    @-webkit-keyframes sk-waveStretchDelay {
        0%, 40%, 100% {
            -webkit-transform: scaleY(0.4);
            transform: scaleY(0.4); }

        20% {
            -webkit-transform: scaleY(1);
            transform: scaleY(1); } }

    @keyframes sk-waveStretchDelay {
        0%, 40%, 100% {
            -webkit-transform: scaleY(0.4);
            transform: scaleY(0.4); }

        20% {
            -webkit-transform: scaleY(1);
            transform: scaleY(1); } 
    }
}
#preloader:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em;
}
/*BREADCRUMB*/
.breadcrumb {
    position:absolute;
    right:3em;
    top:3em;
    font-size: 0.4em;
    a{
        color:#999;
        margin-right: 10px;
        position: relative;
        &:hover {
            color:#666;
        }
        &:after {
            content:'>>';
            position: absolute;
            content: '»';
            right: -7px;
            top: 2px;
        }
    }
}
#header {
    float:left;
    width:100%;
    background-color:#fff;
    #teaser {
        .pagination1 {
            display:none;
        }
        .slide-title {
            color:#000;
            margin-bottom:0 !important;
            padding-bottom: 40px;
    line-height: 70px;
        }
        .slide-subtitle {
            margin:0 !important;
            color: #000;
    border-bottom: solid 2px;
        }
    }
    .device {
    background-color:#fff;
        float:left;
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
        -webkit-transition:all 0.3s linear;
        -moz-transition:all 0.3s linear;
        -o-transition:all 0.3s linear;
        -ms-transition:all 0.3s linear;
        transition:all 0.3s linear;   
        overflow:hidden;
        .bttn {
            color:#fff;     
            border:0;
            -webkit-transition:all 0.3s linear;
            -moz-transition:all 0.3s linear;
            -o-transition:all 0.3s linear;
            -ms-transition:all 0.3s linear;
            transition:all 0.3s linear;   
            &:after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                margin: auto;
                width: 4em;
                height: 4em;
                border:1px solid #00a699;      
                -ms-transform: rotate(45deg);
                -webkit-transform: rotate(45deg);
                transform: rotate(45deg);
                -webkit-transition-duration: 0.3s;
                -moz-transition-duration: 0.3s;
                -o-transition-duration: 0.3s;
                transition-duration: 0.3s;  
            }
            &:hover {   
                &:after {
                color:#00a699;     
                -ms-transform: rotate(0deg);
                -webkit-transform: rotate(0deg);
                transform: rotate(0deg);    
                border-radius: 50%;
                background-color: rgba(0,166,153,0);                
                -webkit-transition:all 0.3s linear;
                -moz-transition:all 0.3s linear;
                -o-transition:all 0.3s linear;
                -ms-transition:all 0.3s linear;
                transition:all 0.3s linear;          
                }
            }            
        }
        .swiper-slide {
            width:100%;
        }
        .content-inner {
            width:95%;
            .slide-title {
                font-size:2em;
            }
            .slide-subtitle {
                font-size:1.2em;
                &.first-subtitle {
                    span {
                        color:#10b9b9;
                    }
                }
                &.second-subtitle {
                    color:#999;
                }
            }
            .slide-button {
                position:relative;
                font-size:0.6em;
                margin-top:2em;
                .line-through {
                    font-size:1.2em;
                    text-decoration: line-through;
                    padding-right:5px;
                }
            }
        }
    }   

    /*BRANDING*/

    #branding {
        height:100%;
        #site-title {
            height:100%;
            float:left;
            img {
                height:100%;
            }
            a.top-logo {
                height:100%;
                width:auto;
                display:none;
            }
            a{
                color:#000;
                font-weight: bold;
        padding-left: 30px;
                &:hover {
                    color: #000;
          font-size: 30px;
          font-weight: bold;
                }
            }
        }
        #site-logo {
            float:left;
            display: block;
            height:100%;
            img {
                display: block;
                position: relative;
                height:100%;
            }
        }
    }

    /*MENU*/
    #menu {
        height:100%;
        float:right;
        &>div {
            text-align: center;
            position:relative;
            height:100%;
            float:right;
            &>ul {
                display: inline-block;
                vertical-align: middle;
                li {
                    float:left;
                    margin-right:20px;
                    a {
                        color:#000;
                        font-weight: bold;

                    }
                }
            }
            &:before {
                position:relative;
                content: '';
                display: inline-block;
                height: 100%;
                vertical-align: middle;         
            }
        }
    }
    #menu-wrapp {
        width:100%;
        height:60px;
        float:left; 
        position:relative;
        #top-menu-main {
            width:100%;
            height:60px;
            float:left;
            -webkit-transition:all 0.3s linear;
            -moz-transition:all 0.3s linear;
            -o-transition:all 0.3s linear;
            -ms-transition:all 0.3s linear;
            transition:all 0.3s linear;  
            #top-menu {
                position:absolute;
                overflow:hidden;
                z-index:9999;
                background-color:#fff;
                height:60px;
                width:100%;
                padding:10px 0;
                float:left;
                z-index:9999;
                -webkit-transform: translate3d(0,0,0);
                transform: translate3d(0,0,0);
                transition:all 0.3s linear;
            }
            .fixed-menu {
                -webkit-transform: translate3d(0,0,0) !important;
                transform: translate3d(0,0,0) !important;
                transition:all 0.3s linear;
                position: fixed; 
                top:0; 
                left:0;
            }
        }
    }
    .fixed-menu-top {
        transition:all 0.3s linear;
        position: fixed; 
        z-index:9999;
        top:0; 
        left:0;
        #top-menu {
            background-color:rgba(0,0,0,0.75) !important;
            a {
                color:#f2f2f2; 
                &:hover {
                    
                }
            }
        }
        &.top-menu-slided {
            #top-menu {
                background-color:initial !important;
            }
        }
    }
    .active-fixed {
        position:relative !important;
    }
}

@media screen and (max-width: 63em) {
    .breadcrumb {
        top:4.5em;
    }    
}

@media screen and (max-width: 35.5em) {
    .breadcrumb {
        top:7em;
        left:0;
        right:0;
    }    
    #branding {
        #site-title {

        }
    }
}