.swiper-scrollbar {
    border-radius: 10px;
    position: relative;
    -ms-touch-action: none;
    background: rgba(0, 0, 0, 0.1);
}

.swiper-scrollbar-drag {
    height: 100%;
    width: 100%;
    position: relative;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.swiper-scrollbar-cursor-drag {
    cursor: move;
}

.device {
    width: 100%;
    height: 300px;
    background: #fff;
    text-align: center;
    margin: auto;
    position: relative;
}

a {
    &[class^='arrow-left'] {
        z-index: 100;
        position: absolute;
        left: 10px;
        top: 50%;
        margin-top: -15px;
        width: 17px;
        height: 30px;
    }
    &[class^='arrow-right'] {
        z-index: 100;
        position: absolute;
        right: 10px;
        top: 50%;
        margin-top: -15px;
        width: 17px;
        height: 30px;
    }
}

.inside {
    height: 300px;
    background-color: orange;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    z-index: 100 !important;
}

.inside.double-vertical {
left:408px;
    height: 300px;
    overflow: visible !important;
    background-color: orange;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    z-index: 99 !important;
}

.inside.double-vertical .gallery-layer {
    height: 600px;
}

.inside.double-vertical .faux-image {
    height: 600px;
}

@media screen and (max-width: 63em) {
    .inside.double-vertical .gallery-layer {
        height: 300px !important;
    }

    .inside.double-vertical .faux-image {
        height: 300px !important;
    }
}

.swiper-container {
    height: 300px;
    width: 100%;
}

.content-slide {
    color: #fff;
    background-color:#fff;
    text-align: center;
    position: relative;
    &:before {
        position: relative;
        content: '';
        display: inline-block;
        height: 100%;
        vertical-align: middle;
    }
    .st {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        background-position: 0 0;  
        background-position: top center;
        background-size: cover;
            background-size: 100% 100%;
        background-repeat:no-repeat;
        background-color: #fff;
    }
}

.content-inner {
    display: inline-block;
    vertical-align: middle;
    position:relative;
    z-index:2;
}

.title {
    font-size: 25px;
    margin-bottom: 10px;
}

div[class^="pagination"] {
    position: absolute;
    left: 0;
    text-align: center;
    bottom: 5px;
    width: 100%;
    z-index: 9998;
}

.swiper-pagination-switch {
    display: inline-block;
    background: #fff;
    margin: 0 3px;
    cursor: pointer;
    width:0.5em;
    height:0.5em;
    border:1px solid #fff;
    right:0.5em;
    top: -0.22em;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);  
}

.swiper-active-switch {
    background: #00a699;
    border:1px solid #00a699;    
}

/*MEDIA QUERIES*/
@media screen and (max-width: 63em) {
    .inside {
        width: 50%;
        float: left;
    }
}

@media screen and (max-width: 35.5em) {
    .inside {
        width: 100%;
        float: left;
    }
}