/*RESPONSIVE MENU*/

html.home {
    background-color:#1d1d1d;
}
.responsive-button {
    display:none;    
    &:focus {
        outline:none;
    }
}
#responsive-menu {
    display:none;
}
.menu5 {
    cursor: pointer;
    display: inline-block;
    font-size: 0.6em;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 4em;
    height: 4em;
    -webkit-tap-highlight-color: transparent;
    span {
        color:#fff;
        background: #000;
        height: 2px;
        position: absolute;
        -webkit-transition: 0.3s linear;
        transition: 0.3s linear;
        width: 100%;
        -webkit-tap-highlight-color: transparent;
        width: 100%;
        &:nth-child(1) {
            left: 0;
            top: 1em;
        }
        &:nth-child(2) {
            right: 0;
            top: 2.2em;
            width: 50%;
        }
        &:nth-child(3) {
            left: 0;
            top: 2.2em;
            width: 50%;
        }
        &:nth-child(4) {
            left: 0;
            top: 3.4em;
        }
    }
}

.open.menu5 span {
    color:#fff;
    background-color:#fff;
    &:nth-child(1) {
        opacity: 0;
    }
    &:nth-child(2) {
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        width: 100%;
    }
    &:nth-child(3) {
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
        width: 100%;
    }
    &:nth-child(4) {
        opacity: 0;
    }
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    &:after, &:before {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
}
@media screen{
    #wrapper {
        -webkit-transition:all 0.3s linear;
        -moz-transition:all 0.3s linear;
        -o-transition:all 0.3s linear;
        ms-transition:all 0.3s linear;
        transition:all 0.3s linear; 
        width:100%;
        float:left;
    }
    #branding {
        float:left;
        width:70%;
    }
    #menu {
        display:none;
    }
    .responsive-button {
        text-decoration:none;
        width:4em;
        height:4em;
        display:block;
        float:right;
        color:#000;
        i {
            font-size:30px;
        }
    }
    .top-menu-slided {
        position:fixed;
        z-index:99;
        -webkit-transition:all 0.3s linear;
        -moz-transition:all 0.3s linear;
        -o-transition:all 0.3s linear;
        -ms-transition:all 0.3s linear;
        transition:all 0.3s linear;   
        .responsive-button {
            span {
                background-color:#fff;
            }
        }
        #top-menu {
            background-color:transparent !important;
            position: relative;
        }   
        #site-title {
            a {
                color:#fff !important;
            }
        }
    }   
    .content-slided {
        -webkit-transform: translate3d(-30%,0,0) !important;
        transform: translate3d(-30%,0,0) !important;
        -webkit-transition:all 0.3s linear;
        -moz-transition:all 0.3s linear;
        -o-transition:all 0.3s linear;
        ms-transition:all 0.3s linear;
        transition:all 0.3s linear; 
    }
    .button-slided {
        -webkit-transform: translate3d(-100%,0,0) !important;
        transform: translate3d(-100%,0,0) !important;
        -webkit-transition:all 0.3s linear;
        -moz-transition:all 0.3s linear;
        -o-transition:all 0.3s linear;
        ms-transition:all 0.3s linear;
        transition:all 0.3s linear;  
    }
    #responsive-menu {
        position:fixed;
        display:block;
        opacity:0;
        top:0;
        right:0;
        -webkit-transition:all 0.3s linear;
        -moz-transition:all 0.3s linear;
        -o-transition:all 0.3s linear;
        -ms-transition:all 0.3s linear;
        transition:all 0.3s linear;
        -webkit-transform: translate3d(100%,0,0);
        transform: translate3d(100%,0,0);
        height:100%;
        width:30%;
        float:right;
        font-size:30px;
        &.menu-slided {
        z-index:10;
        width:100%;
            opacity:1;
            -webkit-transition:all 0.3s linear;
            -moz-transition:all 0.3s linear;
            -o-transition:all 0.3s linear;
            -ms-transition:all 0.3s linear;  
            -webkit-transform: translate3d(0,0,0);
            transform: translate3d(0,0,0);  
            .menu-primary-menu-container {
                padding-top:20px;
            }
        }
        .responsive-menu-wrapp {
            ul {
                padding:1em;  
                li {
                    /*opacity:0;*/
                    -webkit-transition:opacity 0.3s linear;
                    -moz-transition:opacity 0.3s linear;
                    -o-transition:opacity 0.3s linear;
                    ms-transition:opacity 0.3s linear;
                    transition:opacity 0.3s linear;    
                    a {
                        line-height:2;
                    }             
                }           
            }
            ul.fadeMenu{
                li {
                    /*opacity:1;*/
                    -webkit-transition:opacity 0.3s linear;
                    -moz-transition:opacity 0.3s linear;
                    -o-transition:opacity 0.3s linear;
                    ms-transition:opacity 0.3s linear;
                    transition:opacity 0.3s linear;                   
                }
            }
            height:100%;
            background-color: #8153d7;
            .sub-menu {
                padding:0;
                -webkit-transform: translate3d(0,0,0) !important;
                transform: translate3d(0,0,0) !important;    
                li {
                    text-indent:0.5em;
                    line-height:0.8em;
                }        
            }
            li {
                line-height:0.8em;
            }
            a {
                    color: #f2f2f2;
    font-size: 25px;
    letter-spacing: 2.9px;
                &:hover {
                    color:#999;
                }
            }
        }
        .responsive-button.cancle {
            -webkit-transform: translate3d(0,0,0);
            transform: translate3d(0,0,0);
            position: absolute;
            display: block;
            color: #000;
            font-size: 20px;
            z-index: 100;
            text-decoration: none;
            padding: 5px;     
        }    
        ul {
            z-index:100;
            height:100%;
            
        }
        .socials {
                position:fixed;
                left:20px;
                bottom:20px;
            li {
                float:left;
                a {
                    float:left;
                    margin-right:15px;
                    text-decoration:none;
                    &:hover {
                        opacity:0.5;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 35.5em) {
    #responsive-menu {
        .responsive-menu-wrapp {
            ul {
                padding: 50px 0.5em 0.5em 30px;
            }
        }
    }
}

/*DROPDOWN MENU*/
#header {
    .menu {
        margin:0;
        li {
            height: 49px;
            float: left;
            margin: 0;
            text-align: center;
            position: relative;
            display: block;
            font-size:1em;
            &:first-child {
                background-repeat: no-repeat, no-repeat;
                background-position: left center, right center;
            }
            a {
                padding: 15px 0px 16px 0px;
                float: left;
                color: #666;
                text-transform: uppercase;
                text-align: center;
            }
            &:first-child a {
                padding-right: 0px;
            }
            a {
                &:hover, &.active {
                    color: #333;
                    text-shadow: 0px 0px 0px #fff;
                }
            }
        }
        ul.sub-menu {
            position: absolute;
            display: block;
            width: 200px;
            border: #e2e2e2 1px solid;
            border-bottom: none;
            z-index: 8888;
            display: none;
            background: #fff;
            margin-left: 0px;
            top: 45px;
            left: 0px;
            li {
                position: relative;
                float: left;
                background: none;
                width: 100%;
                margin: 0px;
                padding: 0px;
                display: block;
                border: none;
                height: auto;
                a {
                    text-align: left;
                    text-indent:20px;
                    border: none;
                    border-bottom: #e2e2e2 1px solid;
                    padding: 15px 0px;
                    color: #7d797a;
                    width: 100%;
                    /*178px;*/
                    display: block;
                    &:hover {
                        color: #424040;
                    }
                }
            }
        }
        li:hover > ul {
            z-index: 9999;
            display: block;
        }
        ul.sub-menu ul {
            position: absolute;
            top: 0px;
            left: 200px;
            padding: 5px;
            width: 200px;
            border: #E6E6E6 1px solid;
            border-bottom: none;
            z-index: 10;
            display: none;
            background: #F7F7F7;
        }
    }
    .top-right-nav {
        position: relative;
        top: 5px;
        float: right;
    }
    .top-bottom-nav {
        position: relative;
        top: 30px;
        float: right;
    }
    #nav-wrapp {
        height: 51px;
    }
    .top-right-nav li, .top-bottom-nav li {
        display: inline;
        float: left;
        font-size: 11px;
    }
    .top-right-nav li a {
        font-size: 10px !important;
        text-decoration: none;
    }
    .top-bottom-nav li {
        a {
            font-size: 12px;
            text-decoration: none;
            padding: 0px 6px 0px 5px;
            border-right: 1px solid #777;
        }
        &:last-child a {
            border: 0px;
        }
    }
}

.main-nav li {
    display: inline;
    a {
        text-decoration: none;
    }
}