/*SKILLS*/

.skills {
	.skills-title {
		width:100%;
		float:left;
		text-align:center;
		background-color:#222;
		color:#fff;
		font-size:2em;
		position:relative;
		z-index:1;
		margin:0;
	}
	.skills-breadcrumb {
		position:absolute;
		right:30px;
	}
	#canvas {
		float:left;
		width:100%;
		margin-top:1em;
		.skill {
			@media screen and (max-width: 63em) {
				width:25%;
			}
			@media screen and (max-width: 35.5em) {
				width:33.3333%;
				height:120px;
			}
    		height: 14em;
			display:block;
			float:left;
			.circle {
				width:66%;
				height:66%;
				overflow: visible;
				position: relative;
				margin:0 auto;
				text-align:center;
				.progressbar-text {
    				color: #231f20 !important;
        			line-height: 0.5;
    				font-size: 1.8em;
    				letter-spacing: 1px;
					margin-top: -10% !important;
					margin-left: -10% !important;
					&:after {
						content: '%';
						position: absolute;
						left: 1.1em;
					    font-size: 1em;
					    color: #231f20;
					    font-weight: normal;
					}	
					@media screen and (min-width: 50em) {
    					margin-top: 5% !important;
					}
					@media screen and (max-width: 25em) {
    					margin-top: -30% !important;
					}			
				}
				svg {
					background-color:#fff;
					&:before {
						content: '';
						position: absolute;
						left: 0;
						top: 0;
						width: 100%;
						height: 100%;
    					border: 3px solid #ffbf78;
    					border-radius: 50%;
    					border-style: dotted;
					}		
				}
				svg:nth-child(2) {
					top: 53%;
					position: absolute;
					left: 2%;				
				}
				&:before {
					content: '';
				    position: absolute;
				    width: 100%;
				    height: 96%;
				    border-radius: 50%;
				    z-index: 999;
				    top: 0;
				    left: 0;
				}		
			}
			.skill-title {
				width:100%;
				float:left;
				text-align:center;
				padding:10px;
				margin-top:2.2em;
			}
			margin-bottom:15px;
			height:14em;
		}
	}	
}

/*DESKTOP2*/
@media screen and (min-width: 90em) {
	.skills {
		.circle {
			width:45% !important;
		}
	}	
}

/*TABLET2*/
@media screen and (min-width: 50em) and (max-width: 60em) {
	.skills {
		#canvas {
			.skill {
				width:20% !important;
				height: 13em;
			}
		}
	}	
}

/*TABLET2*/
@media screen and (min-width: 35.5em) and (max-width: 50em){
	.skills {
		#canvas {
			.skill {
				width:33.3333%;
				.circle {
					width: 50%;
					.progressbar-text {
						font-size:1.5em;
					}
				}
			}
			.skill-title {
				width: 100%;
				float: left;
				text-align: center;
				padding: 10px;
				margin-top: 2.5em !important;
				font-size: 0.8em;			
			}
		}
	}
}

/*MOBILE LANDSCAPE*/
@media screen and (max-width: 35.5em) {
	.skills {
		#canvas {
			.skill {
				width:50%;
				height:17em;
				.circle {
					width: 55%;
					.progressbar-text {
						font-size:1.8em;
					}
				}
			}
			.skill-title { 
				margin-top: 2em !important;
				font-size:1em;
			}
		}
	}
}

/*MOBILE PORTRAIT*/
@media screen and (max-width: 30em) {
	.skills {
		#canvas {
			.skill {
				height:14em;
				.circle {
					.progressbar-text {
						font-size:1.4em;
					}
				}
			}
		}
	}
}