/*BLOG PAGE*/

.blog {
	.blog-title {
		width:100%;
		float:left;
		text-align:center;
		background-color:#fff;
		border-bottom: 1px solid #f2f2f2;
		color:#231f20;
		font-size:2em;
		position:relative;
		z-index:1;
		margin-top:0 !important;
	}	
	.the-title {
		margin-bottom:0;
		margin-top:0;
	}
	blockquote {
	    color: #666;
  		font-size: 1em;
  		line-height: 150%;
  		font-weight: 500;
  		float:left;
  		margin-left: 0;	
  		border-left:4px solid #00a699;
  	}
	.the-subtitle {
		color:#666;
		margin-top:0;
		line-height:135%;
		padding-top:0 !important;
		.post-categories {
			display:inline;
		}
	}
	.blog-breadcrumb {
		position:absolute;
		right:30px;
	}
	.recent {
		float:left;
		width:100%;
		li {
			display:inline;
			text-align: center;
			.recent-excerpt {
				text-align:left;
				display:inline;
				p{
					position:relative;
				}
			}
			.recent-excerpt-dotted {
				display:inline;
			}
			p {
				text-align:left;
				display:block;
				padding:0.5em 0;
			}
			a {
				display:inline;
				color:#00a699;
			}
			text-align:center;
		}
		figure {
			width:100%;
			height:25em;
			float:left;
			background-repeat:no-repeat;
			background-size:cover;
			background-position:center center;
		}
		.single-link {
			position:relative;
			float:left;
			border:1px solid #999;
			color:#666;
			margin-top:0.7em;
			padding: 0.4em 1.4em;
			line-height:2em;
			font-size:1.2em;
			border-radius:0.2em;
			i {
				font-size:1em;
				top: 0.2em;
				position: relative;
			}
			&:hover {
				color:#999;
			}
		}
		& >li {
			width:100%;
			float:left;
			margin-bottom:5em;
			padding: 0 10em;
		}
		.recent-content {
			padding:0.5em 1.5em;
		}
		.post-gallery {
			float:left;
			width:100%;
			margin:30px 0;
			.post-gallery-item {
				margin-bottom:30px;
				margin-right:30px;
				float:left;
			}
		}
		.reply {
			float:left;
			padding:0;
		}
	}
	/********COMMENT FORM*********/
	#commentform {
		input,textarea {
			float:left;
			padding:1em !important;
		}
		.comment-notes {
			font-family: 'Nunito Sans', sans-serif;
			#email-notes {
				font-family: 'Nunito Sans', sans-serif;
			}
		}
		label {
			text-align:left;
			padding-left:1em;
			font-family: 'Nunito Sans', sans-serif;
		}
		p[class^="comment-"] {
			margin-bottom:30px;
			position:relative;
			font-family: 'icomoon';
			speak: none;
			font-style: normal;
			font-weight: normal;
			font-variant: normal;
			text-transform: none;
			line-height: 1;

			/* Better Font Rendering =========== */
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
		}
		.form-allowed-tags {
			float:left;
		}
		.comment-form-author::after {
		  position: absolute;
		  color:#888;
		  left: 17.5em;
		  top: 0.7em;
		}
		.comment-form-email::after {
		  position: absolute;
		  color:#888;
		  left: 17.5em;
		  top: 0.7em;
		}
		.comment-form-url::after {
		  position: absolute;
		  color:#888;
		  left: 17.5em;
		  top: 0.7em;
		}
		.comment-form-comment::after {
		  position: absolute;
		  color:#888;
		  left: 17.5em;
		  top: 0.7em;
		}
		.form-submit {
			float:left;
			#submit {
			  float:left;
			  font-family: 'Nunito Sans', sans-serif;
			  background-color: #00a699;
			  float: right;
			  margin: 0 !important;
			  outline: 0;
			  border-radius: 0;
			  border: 0;
			  color: #fff;
			  padding: 0.4em 0.6em;
			  display: block;
			  font-size: 1.2em;
			  font-weight: 300;
			  display: inline-block;
			  -webkit-transition: all 0.3s linear;
			  -moz-transition: all 0.3s linear;
			  -o-transition: all 0.3s linear;
			  -ms-transition: all 0.3s linear;
			  transition: all 0.3s linear;	
			  &:hover {
			    background-color: #222;
				color: #fff;
				cursor: pointer;
				-webkit-transition: all 0.3s linear;
				-moz-transition: all 0.3s linear;
				-o-transition: all 0.3s linear;
				-ms-transition: all 0.3s linear;
				transition: all 0.3s linear;
			  }
			}	
		}
	}
	input[type="email"], input[type="text"], input[type="password"], textarea {
		  outline: none !important;
		  font-family: 'Nunito Sans', sans-serif;
		  font-weight: 200;
		  background-color: #444;
		  -webkit-transition: background-color 0.3s linear;
		  -moz-transition: background-color 0.3s linear;
		  -o-transition: background-color 0.3s linear;
		  -ms-transition: background-color 0.3s linear;
		  transition: background-color 0.3s linear;
		  border-radius: 0 !important;
		  box-shadow: 0 0 0 !important;
		  color: #f2f2f2;
		  width: 24em;
		  border: 0;
		  font-size: 0.8em;
		  padding: 1em;
		  border: 0 !important;
	}	
	input[type="email"]:focus, input[type="text"]:focus, input[type="password"]:focus, textarea:focus {
		  background-color: #666;
		  -webkit-transition: background-color 0.3s linear;
		  -moz-transition: background-color 0.3s linear;
		  -o-transition: background-color 0.3s linear;
		  -ms-transition: background-color 0.3s linear;
		  transition: background-color 0.3s linear;
	}
}
.single {
	background-color:#1d1d1d;
	.recent {
	
		.recent-wrapp {
			 width:100%;
			 float: left;
			 margin-bottom: 5em;
			 padding: 0 10em;
			.the-title {
				color:#666;
				margin-top:0;
				margin-bottom: 0;
				text-align:center;
			}
			.the-subtitle {
				text-align:center;
				margin-bottom:1em 0;
			}
			.the-subtitle {
				color:#666;
				margin-top:0;
				line-height:135%;
				padding-top:0 !important;
				.post-categories {
					display:inline;
				}
			}
			strong {
				font-weight:bold;
			}
		}
		width:100%;
		float:left;
		li {
			text-align:left;
			float:left;
			display: block;
			width: 100%;
			list-style-type: square;
			line-height: 150%;
		}
	}
	.recent-content {
		padding:1.5em 0 !important;
	}
	.swiper-gallery {
		max-width:100%;
		width:100%;
		overflow:hidden;
		float:left;
	}
}
.archive,.category,.tag,.search {
		.entry-title {
			width:100%;
			float:left;
			text-align:center;
			background-color:#f8f8f8;
			position:relative;
			z-index:1;
		}	
		.the-title {
			width:100%;
			margin-bottom:0;
			float:left;
			text-align:center;
		}	
		.the-subtitle {
			width:100%;
			float:left;
			text-align:center;
			padding-top:0 !important;
		}
		.single-img {
			border-left:1.5em solid #fff;
			border-right:1.5em solid #fff;
		}
}

/*SEARCH RESULTS*/
.results {
	.results-title {
		width:100%;
		float:left;
		text-align:center;
		background-color:#f8f8f8;
		position:relative;
		z-index:1;
	}	
	.entry-title {
		width:100%;
		float:left;
		text-align:left;
		background-color:#fff;
		position:relative;
		z-index:1;
	}	
	.post {
		padding:30px;
		float:left;
	}
} 		


@media screen and (max-width: 63em) {
	.blog {
		margin-bottom:0.7em;
		.pd40 {
			padding:1.5em;
		}
		.recent {
			& >li {
				width:100%;
				float:left;
				margin-bottom:5em;
				padding: 0 5em;
				figure {
					float:left;
					height:20em;
				}
			}
		}
	}
	.single {
		.recent {
			.recent-wrapp {
				 width:100%;
				 float: left;
				 margin-bottom: 5em;
				 padding: 0 5em;
			}
		}
	}
}

@media screen and (max-width: 40em) {
		.recent {
			& >li {
				float:left;
				margin-bottom:5em;
				width:100%;
				padding: 0 2em !important;
				figure {
					height:15em !important;
				}
			}
		}	
		.single {
			.recent {
				.recent-wrapp {
					 width:100%;
					 float: left;
					 margin-bottom: 5em;
					 padding: 0 2em;
				}
			}
		}
		#commentform {
			label {
			  padding: 0.5em 0;
			}
			.comment-form-author::after {
			  left: 17.5em;
			  top: 2em;
			}
			.comment-form-email::after {
			  left: 17.5em;
			  top: 2em;
			}
			.comment-form-url::after {
			  left: 17.5em;
			  top: 2em;
			}
			.comment-form-comment::after {
			  left: 17.5em;
			  top: 2em;
			}
		}
}