    .comments-title {
    	margin-bottom: 1.3333em;
    }
    .comments {
    		.comment-author {
    			color: #707070;
			    color: rgba(51, 51, 51, 0.7);
			    margin-bottom: 0.4em;
			    img {
			    	border-radius: 50%;
			    	float: left;
				    height: 24px;
				    margin-right: 0.8em;
				    width: 24px
			    }
			    .fn {
			    	font-weight: 600;
			    }
    		}
    		.comment-meta {
    			a {
    				font-size: 12px;
    				font-weight: 400;
    			}
    		}
    		.comment-metadata {
    			margin-bottom: 1.6em;
    			color: #707070;
			    color: rgba(51, 51, 51, 0.7);
			    font-size: 12px;
			    font-size: 1.2rem;
			    line-height: 1.5;
			    a {
			    	color: rgba(51, 51, 51, 0.7);
			    	text-decoration:none;
			    }
			    .edit-link {
			    	margin-left: 1em;
			    	&:before {
			    		font-family: 'icomoon'; 
			    		content: "\e939"; 
			    		margin-right: 2px;
    					position: relative;
			    	}
			    }
    		}
	    	.comment-list {
	    		.reply {
	    			a {
	    				float: left;
					    font-family: 'Nunito Sans', sans-serif;
					    background-color: #00a699;
					    float: right;
					    margin: 0!important;
					    outline: 0;
					    border-radius: 0;
					    border: 0;
					    color: #fff;
					    padding: .4em .6em;
					    display: block;
					    font-size: 1.2em;
					    font-weight: 300;
					    display: inline-block;
					    -webkit-transition: all .3s linear;
					    transition: all .3s linear;
					    &:hover {
					    	background-color: #222;
						    color: #fff;
						    cursor: pointer;
						    -webkit-transition: all .3s linear;
						    transition: all .3s linear;
					    }
	    			}
	    		}
	    	}
	    	.comment {
	    		.children {
	    			li {
	    				padding-left: 1.2em;
	    			}
	    		}
	    		.comment-body {
	    			border-top: 1px solid rgba(51, 51, 51, 0.1);
	    			padding: 1.6em 0;
	    		}
	    	}
    }
    .comment-respond {
    	float:left;
    }