/*PORTFOLIO PAGE*/

.portfolio {
    #portfolio { 
        margin: 0 auto;
        display: block;
        position: relative;
        width: 100%;
     }
    .hide {
        display:none !important;
    } 
    .portfolio-title {
        width:100%;
        float:left;
        text-align:center;
        background-color:#fff;
        color:#231f20;
        font-size:2em;
        margin:0;
        position:relative;
        z-index:1;
        border-bottom: 1px solid #f2f2f2;
    }	
    .portfolio-breadcrumb {
        position:absolute;
        right:30px;
    }
    #post-154:after {
        content:'';
        position:absolute;
        top:-85px;
        left:100px;
        width:70px;
        height:133px;
        background:transparent url(../img/transparent.png);
        background-repeat:no-repeat;
        background-position:-10px -10px;
        z-index:99;
    }
    .portfolio-video {
        video {
            position:absolute;
            top:0;
            left:0;
        }
    }
    #filters {
        margin: 0 auto;
        padding-top:30px;
  padding-bottom:30px;
        z-index: 92;
        display: block;
        text-align: center;
        position:relative;
        overflow:hidden;
        .bttn {
            margin:0.5em 0 0.5em 0.5em;
            outline:0;
            border-top:0;
            border-left:0;
            border-right:0;
            border-bottom: 1.5px solid #f2f2f2;
            border-radius: 0;
            color:#000;
            padding: 0.4em 0.6em;
            display: block;
            font-size: 0.7em;
            font-weight:300;
            display:inline-block;
            -webkit-transition: color 0.3s;
            transition: color 0.3s;
            -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
            transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
            background:none;
            &:hover {
                -webkit-transition: background-color 0.3s linear;
                -moz-transition: background-color 0.3s linear;
                -o-transition: background-color 0.3s linear;
                -ms-transition: background-color 0.3s linear;
                transition: background-color 0.3s linear;
                cursor:pointer;
                border-bottom: 1.5px solid #8153d7;
            }
            &:nth-child(2){
                margin-left:0.1em;
            }
            &:before {
              content: '';
              z-index: -1;
              border-radius: inherit;
              pointer-events: none;
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              -webkit-backface-visibility: hidden;
              -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
              transition: transform 0.3s, opacity 0.3s;
              -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
              transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
              border: 2px solid #37474f;
              opacity: 0;
              -webkit-transform: scale3d(1.2, 1.2, 1);
              transform: scale3d(1.2, 1.2, 1);
            }
            &:after {
              background: #f2f2f2;
              content: '';
              z-index: -1;
              border-radius: inherit;
              pointer-events: none;
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              -webkit-backface-visibility: hidden;
              -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
              transition: transform 0.3s, opacity 0.3s;
              -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
              transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
            }
            &:hover {
                &:before {  
                  opacity: 1;
                  -webkit-transform: scale3d(1, 1, 1);
                  transform: scale3d(1, 1, 1);
                }
                &:after {  
                  opacity: 0;
                  -webkit-transform: scale3d(0.8, 0.8, 1);
                  transform: scale3d(0.8, 0.8, 1);
                }
            }
            @media screen and (max-width:48em){ 
                  font-size:14px;
            }         
        }
        .active { 
            border-bottom: 1.5px solid #8153d7;
        }
        #show-all {
        }
    }
    .inside {
        margin-left:0px;
    }
}


#portfolio {
  .gallery-left {
      width:0px;
  }
}