@font-face {
    font-family: 'icomoon';
    src:    url('https://i.icomoon.io/public/b9475f491e/reframe/icomoon.eot?p7c4ap');
    src:    url('https://i.icomoon.io/public/b9475f491e/reframe/icomoon.eot?p7c4ap#iefix') format('embedded-opentype'),
        url('https://i.icomoon.io/public/b9475f491e/reframe/icomoon.woff2?p7c4ap') format('woff2'),
        url('https://i.icomoon.io/public/b9475f491e/reframe/icomoon.ttf?p7c4ap') format('truetype'),
        url('https://i.icomoon.io/public/b9475f491e/reframe/icomoon.woff?p7c4ap') format('woff'),
        url('https://i.icomoon.io/public/b9475f491e/reframe/icomoon.svg?p7c4ap#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-left:before {
    content: "\e900";
}
.icon-arrow-line-left:before {
    content: "\e901";
}
.icon-arrow-line-right:before {
    content: "\e902";
}
.icon-arrow-right:before {
    content: "\e903";
}
.icon-award:before {
    content: "\e904";
}
.icon-behance:before {
    content: "\e905";
}
.icon-blogger:before {
    content: "\e906";
}
.icon-brush:before {
    content: "\e907";
}
.icon-brush-small:before {
    content: "\e908";
}
.icon-camera:before {
    content: "\e909";
}
.icon-can:before {
    content: "\e90a";
}
.icon-cart:before {
    content: "\e90b";
}
.icon-delicious:before {
    content: "\e90c";
}
.icon-diamond:before {
    content: "\e90d";
}
.icon-digg:before {
    content: "\e90e";
}
.icon-dribbble:before {
    content: "\e90f";
}
.icon-dropbox:before {
    content: "\e910";
}
.icon-eye:before {
    content: "\e911";
}
.icon-facebook:before {
    content: "\e912";
}
.icon-feather:before {
    content: "\e913";
}
.icon-filter:before {
    content: "\e914";
}
.icon-flag:before {
    content: "\e915";
}
.icon-flickr:before {
    content: "\e916";
}
.icon-forrst:before {
    content: "\e917";
}
.icon-frame:before {
    content: "\e918";
}
.icon-globe:before {
    content: "\e919";
}
.icon-glue:before {
    content: "\e91a";
}
.icon-google-plus:before {
    content: "\e91b";
}
.icon-graffiti:before {
    content: "\e91c";
}
.icon-hand:before {
    content: "\e91d";
}
.icon-heart:before {
    content: "\e91e";
}
.icon-ink:before {
    content: "\e91f";
}
.icon-instagram:before {
    content: "\e920";
}
.icon-key:before {
    content: "\e921";
}
.icon-keyboard:before {
    content: "\e922";
}
.icon-landscape:before {
    content: "\e923";
}
.icon-laptop:before {
    content: "\e924";
}
.icon-lastfm:before {
    content: "\e925";
}
.icon-leaf:before {
    content: "\e926";
}
.icon-link:before {
    content: "\e927";
}
.icon-linkedin:before {
    content: "\e928";
}
.icon-magicwand:before {
    content: "\e929";
}
.icon-magnet:before {
    content: "\e92a";
}
.icon-mail:before {
    content: "\e92b";
}
.icon-mailbox:before {
    content: "\e92c";
}
.icon-marker:before {
    content: "\e92d";
}
.icon-message:before {
    content: "\e92e";
}
.icon-microphone:before {
    content: "\e92f";
}
.icon-monitor:before {
    content: "\e930";
}
.icon-monkey:before {
    content: "\e931";
}
.icon-mouse:before {
    content: "\e932";
}
.icon-movietape:before {
    content: "\e933";
}
.icon-mug:before {
    content: "\e934";
}
.icon-office:before {
    content: "\e935";
}
.icon-painting:before {
    content: "\e936";
}
.icon-palette:before {
    content: "\e937";
}
.icon-paypal:before {
    content: "\e938";
}
.icon-pen:before {
    content: "\e939";
}
.icon-pencil:before {
    content: "\e93a";
}
.icon-penhead:before {
    content: "\e93b";
}
.icon-penruler:before {
    content: "\e93c";
}
.icon-phone:before {
    content: "\e93d";
}
.icon-photos:before {
    content: "\e93e";
}
.icon-picassa:before {
    content: "\e93f";
}
.icon-pin:before {
    content: "\e940";
}
.icon-pinterest:before {
    content: "\e941";
}
.icon-roller:before {
    content: "\e942";
}
.icon-rss:before {
    content: "\e943";
}
.icon-ruler:before {
    content: "\e944";
}
.icon-scalpel:before {
    content: "\e945";
}
.icon-scissors:before {
    content: "\e946";
}
.icon-search:before {
    content: "\e947";
}
.icon-skype:before {
    content: "\e948";
}
.icon-stamp:before {
    content: "\e949";
}
.icon-stand:before {
    content: "\e94a";
}
.icon-staple:before {
    content: "\e94b";
}
.icon-star:before {
    content: "\e94c";
}
.icon-triangle:before {
    content: "\e94d";
}
.icon-tumblr:before {
    content: "\e94e";
}
.icon-twitter:before {
    content: "\e94f";
}
.icon-user:before {
    content: "\e950";
}
.icon-users:before {
    content: "\e951";
}
.icon-video:before {
    content: "\e952";
}
.icon-vimeo:before {
    content: "\e953";
}
.icon-vine:before {
    content: "\e954";
}
.icon-youtube:before {
    content: "\e955";
}

